<!--<div class="content-wrapper">
  <app-content-header></app-content-header>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">User form with file upload</h3>
          </div>

          <div class="box-body">

          </div>

          <div class="box-footer">
            <button type="button" (click)="uploadImage()" class="btn btn-primary">Upload</button>
            <button type="button" [routerLink]="['/admin']" class="btn btn-danger">Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
-->
<div class="row">
  <div class="col-md-4">
    <label for="fileUpload">Upload File</label>
    <div class="input-group">
      <label class="input-group-btn">
          <span class="btn btn-primary">
              Browse&hellip; 
              <input type="file"
                (change)="fileEvent($event)"
                class="form-control"
                style="display: none;"                     
                [(ngModel)]="fileUpload" 
                id="fileUpload"
                multiple
                name="fileUpload">
          </span>
      </label>
      <input type="text" [(ngModel)]="uploadFiles" class="form-control" readonly>
    </div>
  </div>
</div>
