<div class="login-box">
  <div class="login-logo">
    <a href="/"><b class="text-primary">Neo</b>STORE</a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Enter email address to recieve forgot password link</p>

    <form autocomplete="on" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)" novalidate>
      <div class="form-group has-feedback" >
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'error' : email.invalid && email.dirty }" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <em class="text-danger" *ngIf="email.invalid && email.dirty">Please enter valid email</em>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" [disabled]="forgotPasswordForm.invalid" class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
      </div>
    </form>

  </div>

</div>
