<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-content-header></app-content-header>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box-header -->
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Product List</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="productsTable" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Product Name</th>
                    <th>Manufacturer</th>
                    <th>Product Category</th>
                    <th>Cost</th>
                    <th>Stock</th>
                    <th>Colour</th>
                    <th>Material</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.product_name}}</td>
                    <td>{{product.product_producer}}</td>
                    <td>{{product.categoryId}}</td>
                    <td>{{product.product_cost}}</td>
                    <td>{{product.product_stock}}</td>
                    <td>
                      <p class="color-box" [ngStyle]="{'background-color': product.product_color.color_code}"></p>
                    </td>
                    <td>{{product.product_material}}</td>
                    <th class="text-center">
                      <div class="btn btn-group no-padding">
                        <button (click)="veiwClickListner(product)" type="button" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                        <button (click)="editClickListner(product)" type="button" class="btn btn-xs btn-info"><i class="fa fa-pencil"></i></button>
                        <button (click)="deleteProduct(product)" type="button" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
