.img-wrap {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.img-wrap .close {
  position: absolute;
  right: 2px;
  padding: 2px 2px 2px;
  font-size: 22px;
  line-height: 10px;
  opacity: 0.5;
}

.img-wrap:hover .close {
    opacity: 1;
}

.error {
    border: solid 1px red;
    background-color: #ffe6e6
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.color-box {
    border: 1px solid rgba(0, 0, 0, 0.24);
    width: 34px;
    height: 20px;
    margin-top: 4px;
  }