<div class="content-wrapper">
  <!--content header-->
  <app-content-header></app-content-header>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Update Product</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct(updateProductForm.value)" novalidate>
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="productCategory">Product Category</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                      <select name="productCategory" formControlName="productCategory" ngControl="productCategory" class="form-control" [ngClass]="{ 'error' : productCategory.invalid && productCategory.dirty }">
                        <option [selected]="productCategory.value == null"  value="" >Select</option>
                        <option *ngFor="let productCat of productCategories" [value]="productCat.id">{{productCat.category_name}}</option>
                      </select>
                    </div>
                    <em class="text-danger" *ngIf="productCategory.invalid && productCategory.dirty">Please Select Product Category</em>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="productName">Product Name</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-th-large"></i></span>
                      <input type="text" class="form-control" formControlName="productName" [ngClass]="{ 'error' : productName.invalid && productName.dirty }"
                        name="productName" placeholder="Enter Product Name">
                    </div>
                    <em class="text-danger" *ngIf="productName.invalid && productName.dirty">Please Enter Product Name</em>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="producer">Manufacturer</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-industry"></i></span>
                      <input type="text" class="form-control" formControlName="producer" [ngClass]="{ 'error' : producer.invalid && producer.dirty }"
                        name="producer" placeholder="Enter Manufacturer Name">
                    </div>
                    <em class="text-danger" *ngIf="producer.invalid && producer.dirty">Please Enter Manufacturer</em>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="description">Desription</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-paragraph"></i></span>
                      <textarea type="text" class="form-control" formControlName="description" [ngClass]="{ 'error' : description.invalid && description.dirty }"
                        name="description" placeholder="Enter Description"></textarea>
                    </div>
                    <em class="text-danger" *ngIf="description.invalid && description.dirty">Please Enter Desription</em>
                  </div>
                </div>
              </div>
              <div class="row">

              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="cost">Cost</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-inr"></i></span>
                      <input type="number" class="form-control" formControlName="cost" [ngClass]="{ 'error' : cost.invalid && cost.dirty }" name="cost"
                        placeholder="Cost">
                    </div>
                    <em class="text-danger" *ngIf="cost.invalid && cost.dirty">Please Enter Cost</em>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="stockin">Stock in</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-shopping-basket"></i></span>
                      <input type="number" class="form-control" formControlName="stockin" [ngClass]="{ 'error' : stockin.invalid && stockin.dirty }"
                        name="stockin" placeholder="Enter Stock">
                    </div>
                    <em class="text-danger" *ngIf="stockin.invalid && stockin.dirty">Please Enter Stock</em>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="colour">Colour</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-paint-brush"></i></span>
                      <input type="color" class="form-control" formControlName="colour" [ngClass]="{ 'error' : colour.invalid && colour.dirty }"
                        name="colour">
                    </div>
                    <em class="text-danger" *ngIf="colour.invalid && colour.dirty">Please Select Colour</em>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="dimension">Dimension</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                      <input type="tel" class="form-control" formControlName="dimension" [ngClass]="{ 'error' : dimension.invalid && dimension.dirty }"
                        name="dimension" placeholder="Enter Dimension">
                    </div>
                    <em class="text-danger" *ngIf="dimension.invalid && dimension.dirty">Please Enter Dimension</em>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="material">Material</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                      <input type="text" class="form-control" formControlName="material" [ngClass]="{ 'error' : material.invalid && material.dirty }"
                        name="material" placeholder="Enter Material">
                    </div>
                  </div>
                  <em class="text-danger" *ngIf="material.invalid && material.dirty">Please Enter Material</em>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample" (click)="showImage = !showImage"> 
                          {{showImage ? 'Show Images' : 'Hide Images'}}                          
                  </button>
                  <div class="collapse" id="collapseExample">
                    <br>
                    <div class="col-md-3" *ngFor="let img of productImages">
                      <div class="img-wrap">
                        <span class="close"><i class="fa fa-times-circle text-danger"></i></span>
                        <img [src]="img.ThumbURL250" class="img-thumbnail" alt="product_image" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label for="fileUpload">Upload New Image</label>
                  <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; 
                            <input type="file"
                              (change)="fileEvent($event)"
                              class="form-control"
                              style="display: none;"                                               
                              id="fileUpload"                              
                              name="fileUpload">
                        </span>
                    </label>
                    <input type="text" formControlName="fileLabel" class="form-control" readonly>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" [disabled]="updateProductForm.invalid" class="btn btn-primary">Save</button>
              <button type="submit" [routerLink]="['/admin/getproducts']" class="btn btn-danger">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /.box -->
</div>
