<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-content-header></app-content-header>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <!-- /.box-header -->
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">User List</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="userTable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Website</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor=" let user of users">
                  <td>{{user.id}}</td>
                  <td>{{user.name}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.website}}</td>
                  <th class="text-center">
                    <div class="btn btn-group no-padding">
                      <button type="button" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                      <button (click)="editClickListner(user)" type="button" class="btn btn-xs btn-info"><i class="fa fa-pencil"></i></button>
                      <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
