<div class="content-wrapper">
  <!--content header-->
  <app-content-header></app-content-header>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Add New User</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm.value)" novalidate>
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="firstName">User Role</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-users"></i></span>
                      <select name="userRoles" class="form-control" required>
                        <option value="select">Select</option>
                        <option value="admin">Admin</option>
                        <option value="appUser">App User</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input type="text" class="form-control" (ngModel)="firstName" name="firstName" placeholder="Enter First Name" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input type="text" class="form-control" (ngModel)="lastName" name="lastName" placeholder="Enter Last Name" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      <input type="email" class="form-control" (ngModel)="email" name="email" placeholder="Enter email" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" class="form-control" (ngModel)="password" name="password" placeholder="Password" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" class="form-control" (ngModel)="confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                        required>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="password">Gender</label>
                    <div class="checkbox icheck">
                      <label><input type="radio" name="gender" required> <strong>Male</strong> </label>
                      <label><input type="radio" name="gender" required> <strong>Female</strong> </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                      <input type="tel" class="form-control" (ngModel)="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number" required>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="phoneNumber">Date of Birth</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                      <input type="date" class="form-control" (ngModel)="dateOfBirth" name="dateOfBirth" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="checkbox icheck">
                    <label><input type="checkbox" required> I agree <a href="">Terms & Conditions</a> </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" [disabled]="addUserForm.invalid" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /.box -->
</div>
